# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/
*.swp
*.tsbuildinfo

# Electron build output
apps/desktop/release/
